@keyframes book-btn-anima {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
.book-btn {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
}

.deal-card:hover .book-btn {
  animation: book-btn-anima 0.6s ease-in-out forwards;
}

.deal-card:hover  .deal-img{
  opacity: 85%;
  z-index: 0;

}